<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="EkoMs">
	<listeners>
		<listener class-name="ekoms.Listeners"></listener>
	</listeners>
	<parameter name="URL" value="http://10.1.110.49/"/>
	<parameter name="UNAME" value="s2"/>
	<parameter name="PWD" value="s2"/>
  <test name="login">
    <classes>
      <class name="ekoms.testTest"/>
      <class name="ekoms.testTest2"/>      
    </classes>
  </test> <!-- login -->
</suite> <!-- EkoMs -->
